@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation


<RadzenComponents @rendermode="InteractiveServer" />
<CascadingAuthenticationState>
    @if (authState != null)
    {
        <RadzenDialog />
        <RadzenComponents />

        <div class="page">
            @if (authState.User.Identity?.IsAuthenticated ?? false)
            {
                <div class="sidebar">
                    <NavMenu />
                </div>
            }

            <main>
                <div class="top-row px-4">
                    @if (!(authState.User.Identity?.IsAuthenticated ?? false))
                    {
                        <a href="/login">Login</a>
                    }
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    }
</CascadingAuthenticationState>

@code {
    [CascadingParameter] private Task<AuthenticationState> AuthenticationStateTask { get; set; }
    private AuthenticationState authState;

    protected override async Task OnInitializedAsync()
    {
        authState = await AuthenticationStateTask;
    }
}
